.timeline-axis {
    stroke: #141;
    stroke-width: 2;
}

.timeline-day-tick {
    font-size: 0.75rem;
}
.timeline-day-tick > line {
    stroke: #141;
    stroke-width: 1;
    stroke-linecap: round;
}

.timeline-milestone-tick {
    font-size: 1rem;
    stroke: white;
}
.timeline-milestone-tick > rect{
    fill: blue;
}

.timeline-milestone-tick > line{
    stroke: #141;
    stroke-width: 0.2rem;
    stroke-dasharray: 0.30rem;
}

.timeline-month-mark > text {
    font-size: 0.6rem;
}
.timeline-month-mark .gullwings {
    fill:none;
    stroke: #EF7A53;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-opacity:1
}
