
There are {{Milestones.length}} milestones
<ul *ngFor="let milestone of Milestones">
    <li>{{milestone.name}} at {{milestone.dateUTC| date:'mediumDate':'UTC'}}</li>
</ul>
And {{Phases.length}} phases.
<ul *ngFor="let phase of Phases">
    <li>{{phase.name}} goes from <em>{{phase.startUTC| date:'mediumDate':'UTC'}}</em> to <em>{{phase.endUTC| date:'mediumDate':'UTC'}}</em></li>
</ul>

<svg [attr.viewBox]="[0, 0, Width, Height]" xmlns="http://www.w3.org/2000/svg">
    <rect class='timeline-background' width="100%" height=100%></rect>
    <line class="timeline-axis"
        [attr.x1]='this.Timeline.axis.x1'
        [attr.y1]='this.Timeline.axis.y1'
        [attr.x2]='this.Timeline.axis.x2'
        [attr.y2]='this.Timeline.axis.y2'
    ></line>

    <g class="timeline-day-tick"
        [ngClass]="{'start-of-year': dayTick.isStartOfYear, 'start-of-month': dayTick.isStartOfMonth}"
        *ngFor="let dayTick of Timeline.dayTicks"
        [attr.transform]="dayTick.transform">
        <circle *ngIf="dayTick.isStartOfMonth" r=2></circle>
        <circle class='start-of-year' *ngIf="dayTick.isStartOfYear" r=3></circle>
        <line [attr.y2]="3"></line>
        <text [attr.dx]="dayTick.labelX" [attr.dy]="18">{{dayTick.label}}</text>
    </g>
    <g class="timeline-month-mark" *ngFor="let monthMark of Timeline.monthMarks" [attr.transform]="monthMark.transform">
        <text [attr.x]='monthMark.labelX'
            [attr.y]='monthMark.labelY'
            dominant-baseline="middle"
            text-anchor="middle"
        >{{monthMark.label}}</text>
        <path class='gullwings' [attr.d]='monthMark.path' transform='translate(0,16)'></path>
    </g>
    <g class="timeline-phase-mark" *ngFor="let phaseMark of Timeline.phaseMarks" [attr.transform]="phaseMark.transform">
        <text [attr.x]='phaseMark.labelX'
            [attr.y]='phaseMark.labelY'
            dominant-baseline="middle"
            text-anchor="middle"
        >{{phaseMark.label}}</text>
        <path class='gullwings' [attr.d]='phaseMark.path' [attr.transform]='phaseMark.pathTransform'></path>
    </g>
</svg>